mplcursors==0.3
numpy==1.20.0
wheel==0.36.2 
yfinance==0.1.54
tqdm==4.48.0
joblib==0.16.0
matplotlib==3.3.4
Flask==1.1.2
Flask_FlatPages==0.7.2
pandas==1.2.2
Frozen_Flask==0.15
python_dateutil==2.8.1
